:root {
  --text-color: rgb(245, 245, 245);
  --bg-color: rgb(5, 5, 5);

  --main-transition-time: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
}
