:root {
  --text-color: rgb(5, 5, 5);
  --bg-color: rgb(5, 5, 5);

  --main-transition-time: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background-color: #ecf0f1;
}

header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

header > * {
  margin: 0 30px;
}

h1 {
  height: 100%;
  font-size: 30px;
}

main {
  background-color: #2ecc71;
  min-width: 300px;
  margin: 0 20px;
  padding: 30px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

main > * {
  background-color: #bdc3c7;
  border-radius: 20px;
  padding: 30px 20px;
  margin: 10px 0;
}
