:root {
  --text-color: rgb(245, 245, 245);
  --bg-color: rgb(5, 5, 5);

  --main-transition-time: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background-color: #9b59b6;
}

h1 {
  height: 100%;
  font-size: 30px;
}

textarea,
input {
  padding: 2px;
  outline: none;
  color: black;
}

main {
  display: flex;
  justify-content: center;
}

.viewPostCard {
  min-width: calc(100% - 40px);
  max-width: 750px;
  background-color: #bdc3c7;
  border-radius: 20px;
  padding: 30px 20px;
}

form {
  margin-bottom: 20px;
}

.viewpostBody {
  margin-bottom: 40px;
}
